
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:700);

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

@-webkit-keyframes recording {
  0% {
    background: #FF5868; }
  100% {
    background: #E51428; } }
/* line 16, ../sass/screen.sass */
html, body {
  height: 100%; }

/* line 18, ../sass/screen.sass */
body {
  text-align: center;
  font-family: 'Roboto Mono', mono;
      background: #929292;
    perspective: 3000px; }

/* line 21, ../sass/screen.sass */
p, button {
  font-family: 'Roboto Mono', mono;
  text-transform: uppercase;
  color: #D5D3C9; }

/* line 25, ../sass/screen.sass */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

/* line 31, ../sass/screen.sass */
*:focus {
  outline: 0; }

/* line 33, ../sass/screen.sass */
.drum {
  background: #464344;
  display: inline-block;
  color: #f2ede0;
  box-shadow: 0 10px 70px #444444, inset 0 10px rgba(255, 255, 255, 0.1), inset 0 -10px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
    overflow: hidden;
  padding: 70px 60px 160px;
  vertical-align: middle;
  position: relative;
  top: 50%;
  width: 1040px;
  transform: translateY(-50%); }
  /* line 43, ../sass/screen.sass */
  .drum .bracket {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: auto;
    background: #262727;
    width: 40px;
    box-shadow: inset 0 -10px 0 rgba(0, 0, 0, 0.2), inset 0 10px 0 rgba(255, 255, 255, 0.2); }
    /* line 48, ../sass/screen.sass */
    .drum .bracket:first-child {
      position: absolute;
      top: 0;
      bottom: 0;
      left: auto;
      right: 0; }
  /* line 50, ../sass/screen.sass */
  .drum a {
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    line-height: 32px; }

/* line 55, ../sass/screen.sass */
.step {
  width: 50px;
  height: 85px;
  float: left;
  margin: 7px;
  border-radius: 5px;
  border-color: transparent;
  overflow: hidden;
  text-indent: -999em;
  position: relative;
  box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.06), inset 0 10px 0 rgba(255, 255, 255, 0.2); }
  /* line 66, ../sass/screen.sass */
  .step:active {
    box-shadow: inset 0 0px 0 rgba(0, 0, 0, 0.06), inset 0 5px 0 rgba(255, 255, 255, 0.2); }
  /* line 68, ../sass/screen.sass */
  .step:active {
    border-bottom-color: transparent;
    border-right-color: transparent; }
  /* line 71, ../sass/screen.sass */
  .step:after {
    content: " ";
    display: block;
    position: absolute;
    background: #7c3030;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    top: 5px;
    left: 50%;
    margin-left: -9px;
    border: 2px rgba(0, 0, 0, 0.15) solid; }
    /* line 83, ../sass/screen.sass */
    .step:after:active {
      background: #DAD4C4; }
  /* line 86, ../sass/screen.sass */
  .step.on:after {
    background: #ff3044;
    box-shadow: 0 0 10px rgba(255, 48, 68, 0.5); }
  /* line 89, ../sass/screen.sass */
  .step.now:after {
    background: #FF293E; }

/* line 91, ../sass/screen.sass */
dial {
  display: block;
  width: 40px;
  height: 40px;
  background: #323131;
  margin: 10px auto;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.26);
  position: relative;
  border: 3px solid #2D2D2D; }
  /* line 100, ../sass/screen.sass */
  dial:active {
    cursor: -webkit-grabbing; }
  /* line 102, ../sass/screen.sass */
  dial:after {
    content: " ";
    position: absolute;
    top: -3px;
    left: 50%;
    margin-left: -2px;
    width: 4px;
    height: 3px;
    background: #672C20; }
  /* line 111, ../sass/screen.sass */
  dial:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -2px;
    width: 4px;
    height: 15px;
    border-radius: 0 0 2px 2px;
    background: #fe5532; }
  /* line 121, ../sass/screen.sass */
  dial.tempo {
    width: 70px;
    height: 70px;
    float: left;
    margin: 0; }

/* line 126, ../sass/screen.sass */
.drum-select {
  float: left;
  width: 80px; }
  /* line 129, ../sass/screen.sass */
  .drum-select .indicator {
    content: " ";
    display: inline-block;
    background: #7c3030;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    margin: 0 0 10px;
    border: 2px rgba(0, 0, 0, 0.15) solid; }
    /* line 138, ../sass/screen.sass */
    .drum-select .indicator.on {
      background: #ff3044;
          background: #ff3044;
    box-shadow: 0 0 10px rgba(255, 48, 68, 0.5);
     }

/* line 140, ../sass/screen.sass */
.drum-name {
  border-radius: 5px;
  border: 0;
  background: #E0D6A1;
  color: #776E35;
  width: 66px;
  line-height: 25px;
  margin: 7px;
  font-size: 14px;
  box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.06), inset 0 2px 0 rgba(255, 255, 255, 0.2);
  border: 2px transparent solid;
  cursor: pointer; }
  /* line 152, ../sass/screen.sass */
  .drum-name:active {
    box-shadow: inset 0 0px 0 rgba(0, 0, 0, 0.06), inset 0 5px 0 rgba(255, 255, 255, 0.2); }

/* line 154, ../sass/screen.sass */
.pattern {
  position: absolute;
  bottom: 60px;
  padding: 1px;
  box-sizing: border-box;
  width: 1026px;
  overflow: hidden;
  left: 67px;
  border-radius: 5px;
  background: #999da0; }

/* line 164, ../sass/screen.sass */
.kit-select, .export {

    border-radius: 5px;
    box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.06), inset 0 10px 0 rgba(255, 255, 255, 0.2);
    color: #CCCFD2;
    width: 120px;
    font-size: 14px;
    width: 100%;
}
  .kit-select {
      font-family: roboto mono;
    font-weight: bold;
    background: #171717;
    border-color: black;
    border-width: 2px;
    color: #FF3044;
    text-shadow: 0 0 6px rgb(255, 48, 68);
    text-transform: uppercase;
  }

/* line 171, ../sass/screen.sass */
.export {  
    border-radius: 5px;
    box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.06), inset 0 10px 0 rgba(255, 255, 255, 0.2);
    margin-top: 10px;
    padding: 5px 0;
    background: #ff3044;
    color: #fff;
    border-color: rgba(0, 0, 0, 0.15);
    line-height: 15px;
  }
  /* line 179, ../sass/screen.sass */
  .export.recording {
    -moz-animation: recording 1s linear alternate infinite;
    -webkit-animation: recording 1s linear alternate infinite;
    animation: recording 1s linear alternate infinite; }

/* line 181, ../sass/screen.sass */
.config {
  display: inline-block;
  float: left;
  width: 196px;
  padding: 0 10px;
  box-sizing: border-box; }
  /* line 187, ../sass/screen.sass */
  .config p:first-child {
    margin: 0 0 20px; }

/* line 189, ../sass/screen.sass */
.controls {
  display: inline-block;
  width: 100%;
  margin: 30px 0; }
  /* line 193, ../sass/screen.sass */
  .controls .group {
    float: left;
    padding-left: 20px; }
  /* line 196, ../sass/screen.sass */
  .controls .play {
    float: right;
    width: 120px;
    position: relative; }
    /* line 200, ../sass/screen.sass */
    .controls .play:before {
      content: " ";
      display: inline-block;
      background: #7c3030;
      border-radius: 50%;
      width: 14px;
      height: 14px;
      margin: 0 0 10px;
      border: 2px rgba(0, 0, 0, 0.15) solid;
      position: absolute;
      top: -40px;
      left: 61px; }
    /* line 212, ../sass/screen.sass */
    .controls .play.on:before {
      background: #ff3044; }

/* line 214, ../sass/screen.sass */
.tempo-controls {
  float: left; }
  /* line 216, ../sass/screen.sass */
  .tempo-controls p:first-child {
    margin: 0 0 20px; }
  /* line 218, ../sass/screen.sass */
  .tempo-controls .lcd {
background: black;
    color: #ff3044;
    height: 80px;
    line-height: 80px;
    width: 130px;
    font-size: 55px;
    border-radius: 5px;
    float: left;
    margin-left: 30px;
    text-shadow: 0 0 6px rgb(255, 48, 68); }

/* line 228, ../sass/screen.sass */
.master-controls {
  float: left;
  margin-left: 20px; }

/* line 231, ../sass/screen.sass */
.master-control {
  height: 80px;
  background: #F1D05F;
  color: #9E6A17;
  border-radius: 5px;
  box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.06), inset 0 10px 0 rgba(255, 255, 255, 0.2);
  border: 2px transparent solid;
  width: 120px;
  font-size: 18px;
  margin: 36px 10px 0;
  vertical-align: top;
  cursor: pointer; }
  /* line 243, ../sass/screen.sass */
  .master-control:active {
    box-shadow: inset 0 0px 0 rgba(0, 0, 0, 0.06), inset 0 5px 0 rgba(255, 255, 255, 0.2); }
  /* line 245, ../sass/screen.sass */
  .master-control.pattern-select {
    position: relative; }
    /* line 247, ../sass/screen.sass */
    .master-control.pattern-select:before {
      content: " ";
      display: inline-block;
      background: #7c3030;
      border-radius: 50%;
      width: 14px;
      height: 14px;
      margin: 0 0 10px;
      border: 2px rgba(0, 0, 0, 0.15) solid;
      position: absolute;
      top: -40px;
      left: 51px; }
    /* line 259, ../sass/screen.sass */
    .master-control.pattern-select.on:before {
      background: #ff3044;
          box-shadow: 0 0 10px rgba(255, 48, 68, 0.5);
           }
  /* line 261, ../sass/screen.sass */
  .master-control.save {
    position: relative; }
    /* line 263, ../sass/screen.sass */
    .master-control.save:before {
      content: " ";
      display: inline-block;
      background: #7c3030;
      border-radius: 50%;
      width: 14px;
      height: 14px;
      margin: 0 0 10px;
      border: 2px rgba(0, 0, 0, 0.15) solid;
      position: absolute;
      top: -40px;
      left: 50%;
      margin-left: -7px; }
    /* line 275, ../sass/screen.sass */
    .master-control.save:active:before {
      background: #ff3044; }

/* line 280, ../sass/screen.sass */
.drum-808 .step:nth-child(1), .drum-808 .step:nth-child(2), .drum-808 .step:nth-child(3), .drum-808 .step:nth-child(4) {
  background: #fe5532; }
  /* line 282, ../sass/screen.sass */
  .drum-808 .step:nth-child(1):active, .drum-808 .step:nth-child(2):active, .drum-808 .step:nth-child(3):active, .drum-808 .step:nth-child(4):active {
    background: #DA573C; }
/* line 284, ../sass/screen.sass */
.drum-808 .step:nth-child(5), .drum-808 .step:nth-child(6), .drum-808 .step:nth-child(7), .drum-808 .step:nth-child(8) {
  background: #ff8c22; }
  /* line 286, ../sass/screen.sass */
  .drum-808 .step:nth-child(5):active, .drum-808 .step:nth-child(6):active, .drum-808 .step:nth-child(7):active, .drum-808 .step:nth-child(8):active {
    background: #DF812A; }
/* line 288, ../sass/screen.sass */
.drum-808 .step:nth-child(9), .drum-808 .step:nth-child(10), .drum-808 .step:nth-child(11), .drum-808 .step:nth-child(12) {
  background: #f2dd5a; }
  /* line 290, ../sass/screen.sass */
  .drum-808 .step:nth-child(9):active, .drum-808 .step:nth-child(10):active, .drum-808 .step:nth-child(11):active, .drum-808 .step:nth-child(12):active {
    background: #DAC64A; }
/* line 292, ../sass/screen.sass */
.drum-808 .step:nth-child(13), .drum-808 .step:nth-child(14), .drum-808 .step:nth-child(15), .drum-808 .step:nth-child(16) {
  background: #f2ede0; }

/* line 295, ../sass/screen.sass */
.drum-linn {
  background: #282828; }
  /* line 297, ../sass/screen.sass */
  .drum-linn .step {
    border: 2px solid #e26c2a;
    background: #302E2D; }
  /* line 300, ../sass/screen.sass */
  .drum-linn .pattern {
    background: transparent;
    box-shadow: inset 0 0 0 2px #e26c2a; }
  /* line 303, ../sass/screen.sass */
  .drum-linn .drum-name {
    border: 2px solid #e26c2a;
    background: #302E2D;
    color: #e26c2a; }
  /* line 307, ../sass/screen.sass */
  .drum-linn .export {
    background: #302E2D; }
  /* line 309, ../sass/screen.sass */
  .drum-linn dial {
    background: #444;
    border-color: #333; }
  /* line 312, ../sass/screen.sass */
  .drum-linn dial:before {
    background: #e8e8e7; }
  /* line 314, ../sass/screen.sass */
  .drum-linn dial:after {
    background: #CACACA; }
  /* line 316, ../sass/screen.sass */
  .drum-linn .master-control {
    border: 2px solid #e26c2a;
    background: #302E2D; }
  /* line 319, ../sass/screen.sass */
  .drum-linn p, .drum-linn button {
    color: #e26c2a; }
  /* line 321, ../sass/screen.sass */
  .drum-linn .bracket {
    background: #b68861; }
  /* line 323, ../sass/screen.sass */
  .drum.drum-linn .export {
    border: 2px solid #e26c2a; }

/* line 326, ../sass/screen.sass */
.drum-909 {
  background: #e3ded3; }
  /* line 328, ../sass/screen.sass */
  .drum-909 .step {
    background: #e5dbc6;
    border-color: rgba(0, 0, 0, 0.2); }
  /* line 331, ../sass/screen.sass */
  .drum-909 .pattern {
    background: transparent; }
  /* line 333, ../sass/screen.sass */
  .drum-909 .drum-name {
    background: #545b65;
    color: #e19d60; }
  /* line 336, ../sass/screen.sass */
  .drum-909 dial {
    background: #58575a;
    border-color: #48474a; }
  /* line 339, ../sass/screen.sass */
  .drum-909 dial:before {
    background: #ef8a59; }
  /* line 341, ../sass/screen.sass */
  .drum-909 dial:after {
    background: #df7a49; }
  /* line 343, ../sass/screen.sass */
  .drum-909 .master-control {
    background: #e5dbc6;
    border-color: rgba(0, 0, 0, 0.2); }
  /* line 346, ../sass/screen.sass */
  .drum-909 p, .drum-909 button {
    color: #e19d60; }
  /* line 348, ../sass/screen.sass */
  .drum-909 .bracket {
    background: #8d8a7e; }
  /* line 350, ../sass/screen.sass */
  .drum.drum-909 .export {
    border: 2px solid #545b65;
    background: #697585; }

/* line 353, ../sass/screen.sass */
.techno {
  background: #D8D8D8; }
  /* line 355, ../sass/screen.sass */
  .techno .bracket {
    background: #E2E2E2; }
  /* line 357, ../sass/screen.sass */
  .techno dial {
    background: #545454;
    border: 3px solid #646464; }
    /* line 360, ../sass/screen.sass */
    .techno dial:before {
      background: #FE3249; }
    /* line 362, ../sass/screen.sass */
    .techno dial:after {
      background: #CB3C3C; }
  /* line 364, ../sass/screen.sass */
  .techno .drum-name {
    background: #EAEAEA; }
  /* line 366, ../sass/screen.sass */
  .techno .master-control {
    background: #CACACA; }
  /* line 368, ../sass/screen.sass */
  .techno .export {
    background: #DDDDDD;
    border-color: #AEAEAE;
    color: #6E6E6E; }
  /* line 372, ../sass/screen.sass */
  .techno p, .techno button {
    color: #6F6F6F; }

/* line 374, ../sass/screen.sass */
.acoustic {
  background: #34495e; }
  /* line 376, ../sass/screen.sass */
  .acoustic .bracket {
    background: #e74c3c; }
  /* line 378, ../sass/screen.sass */
  .acoustic .pattern {
    background: #2c3e50; }
  /* line 380, ../sass/screen.sass */
  .acoustic .master-control {
    background: #7F8C95; }
  /* line 382, ../sass/screen.sass */
  .acoustic .drum-name {
    background: #2c3e50; }
  /* line 384, ../sass/screen.sass */
  .acoustic p {
    color: #f9f9f9; }
  /* line 386, ../sass/screen.sass */
  .acoustic button {
    background: #7F8C95;
    color: #f9f9f9; }
  /* line 389, ../sass/screen.sass */
  .acoustic dial {
    background: #95a5a6;
    border: 3px solid #7f8c8d; }
    /* line 392, ../sass/screen.sass */
    .acoustic dial:before {
      background: #FE3249; }
    /* line 394, ../sass/screen.sass */
    .acoustic dial:after {
      background: #CB3C3C; }
  /* line 396, ../sass/screen.sass */
  .acoustic .export {
    color: #f9f9f9;
    border-color: transparent;
    background: #2c3e50; }

/* line 401, ../sass/screen.sass */
.step, .pattern, .drum-name, dial, dial:before, dial:after, .master-control, p, button, .bracket, .kit-select, .export, .drum {
  -moz-transition: color 300ms linear, background 300ms linear, border 300ms linear;
  -o-transition: color 300ms linear, background 300ms linear, border 300ms linear;
  -webkit-transition: color 300ms linear, background 300ms linear, border 300ms linear;
  transition: color 300ms linear, background 300ms linear, border 300ms linear; }

/* line 404, ../sass/screen.sass */
.recorded {
  display: block !important;
  position: fixed;
  top: -1px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8); }
  
  .fb_reset {
display: none !important
}

.like-box {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 230px;
    overflow: hidden;
    border: 10px #FFFFFF solid;
    -webkit-filter: brightness(0.463) contrast(2) saturate(0) invert(1);
    transition: .3s;
    height: 54px;
    z-index: -1;
}

.like-box .fb_iframe_widget {
    margin: -8px 0 0 -64px;
}
  
.like-box p {
  display: none;
}
  
.like-box i {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    margin: 4px;
    font-style: normal;
    cursor: pointer;
    color: rgb(102, 92, 92);
    z-index: 2;
}


.more {
    position: fixed;
    top: 10px;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    padding: 10px 0;
    background: #BFBFBF;
    z-index: 111;
    border-radius: 4px;
    color: #282828;
  }

  .more a {
    color: #282828;
  }
/*
     FILE ARCHIVED ON 09:37:05 Oct 12, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:21:17 Mar 05, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 600.535
  exclusion.robots.policy: 0.384
  load_resource: 68.722
  exclusion.robots: 0.401
  PetaboxLoader3.resolve: 138.3 (2)
  esindex: 0.015
  LoadShardBlock: 556.063 (3)
  PetaboxLoader3.datanode: 480.972 (4)
  CDXLines.iter: 11.45 (3)
  RedisCDXSource: 29.406
*/